<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>
</head>
<body>
    <div>
        <p><%= blog.title %></p>
        <p><%= blog.text %></p>
        <p><%= blog.author %></p>
    </div>
</body>
</html>